* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}



.rowField{
    justify-content: space-between;
}

.large{
    margin: 0.2rem;
    background-color: white;
    border: none ;
    border-radius: 2em;
    color:  #2b3252
}


.large:hover{
    background-color: #ef5455
}


.large{
    width:100%
}


